.flex-container {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2
{
text-align: center;
}

#img1 img {
  width: 500px;
  height: auto;
  border-radius: 10px; 
}

#img2 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}

img
{
  border-radius: 10px; 
}

iframe {
  width: 600px; 
  height: 300px; 
  border: none; 
  border-radius: 10px;    
}

.espaçamento{
  text-align: center;
  
}

@media(max-width: 563px){
  #img1 img {
    width: 500px;
    height: auto;
    border-radius: 10px; 
  }

  #img2 img{
    width: 250px;
    height: auto;
    border-radius: 10px; 
  }

  h1{
    font-size: 25px;
  }

  iframe
  {
    height: auto;
    width: 500px;
    border-radius: 10px; 

  }
   

 }
 @media(max-width: 519px)
 {

  iframe
  {
    height: auto;
    width: 300px;

  }
  #img1 img {
    width: 300px;
    height: auto;
    border-radius: 10px; 
  }

  #img2 img{
    width: 300px;
    height: auto;
    border-radius: 10px; 
  }

 }